Data_Enrichment_Pipeline/Data Enrich.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"MyLakehouse":{"type":"string"},"Warehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Data Enrich","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"DataEnrich","type":"TridentNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"87b7babe-7c68-4639-9f11-423010a0bf94","workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26"}},{"name":"SetTableName","type":"SetVariable","dependsOn":[{"activity":"DataEnrich","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"Tables","value":["gold_traffic_trends","gold_navigation_path","gold_avgsession_time","gold_peak_hours"]}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"SetTableName","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@variables('Tables')","type":"Expression"},"activities":[{"name":"CopyTables","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"MyLakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26","artifactId":"[parameters('MyLakehouse')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":{"value":"@item()","type":"Expression"}}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"Warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"3uxsqjyljt5u3ourekgnqp67oe-pvkp2mtxszge3asqfufuui62ey.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Warehouse')]","workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"Gold","table":{"value":"@item()","type":"Expression"}}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"variables":{"Tables":{"type":"Array"}},"lastModifiedByObjectId":"43554558-732a-4299-bc7f-3b3d7c98b5e9","lastPublishTime":"2025-07-03T07:38:56Z"},"dependsOn":[]}]}