Data_Ingestion_Pipeline/Data Ingestion.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"Warehouse":{"type":"string"},"localhost;project":{"type":"string"},"MyLakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Data Ingestion","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"GetTableList","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DataWarehouseSource","sqlReaderQuery":{"value":"SELECT table_name FROM Control_Ingestion;","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"Warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"3uxsqjyljt5u3ourekgnqp67oe-pvkp2mtxszge3asqfufuui62ey.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Warehouse')]","workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{}}}},{"name":"ForEach","type":"ForEach","dependsOn":[{"activity":"GetTableList","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('GetTableList').output.value","type":"Expression"},"activities":[{"name":"GetTime","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DataWarehouseSource","sqlReaderQuery":{"value":"SELECT last_run_timestamp FROM Control_Ingestion WHERE table_name = '@{item().table_name}'","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"Warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"3uxsqjyljt5u3ourekgnqp67oe-pvkp2mtxszge3asqfufuui62ey.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Warehouse')]","workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{}}}},{"name":"CopyDBSchema","type":"Copy","dependsOn":[{"activity":"GetTime","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"MySqlSource","query":{"value":"SELECT COLUMN_NAME \nFROM INFORMATION_SCHEMA.COLUMNS \nWHERE TABLE_NAME = '@{item().table_name}'\nORDER BY ORDINAL_POSITION;\n","type":"Expression"},"datasetSettings":{"annotations":[],"type":"MySqlTable","schema":[],"typeProperties":{},"externalReferences":{"connection":"[parameters('localhost;project')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","datasetSettings":{"annotations":[],"linkedService":{"name":"MyLakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26","artifactId":"[parameters('MyLakehouse')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":{"value":"@{trim(concat(item().table_name, '_schema'))}","type":"Expression"}}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"If Condition","type":"IfCondition","dependsOn":[{"activity":"Validation","dependencyConditions":["Succeeded"]}],"typeProperties":{"expression":{"value":"@activity('Validation').output.result.exitValue\n\n","type":"Expression"},"ifFalseActivities":[{"name":"Office 365 Outlook","type":"Office365Outlook","dependsOn":[],"typeProperties":{"inputs":{"method":"post","path":"/v2/Mail","body":{"To":"ayush.229301205@muj.manipal.edu","Subject":"PIpeline Else","Body":"<p>Pipeline else condition met</p>","Sensitivity":"","Importance":"Normal"}}}}],"ifTrueActivities":[{"name":"IncremenatlDataIngestion","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"MySqlSource","query":{"value":"SELECT * FROM `@{item().table_name}`\nWHERE Time_stamp > '@{activity('GetTime').output.value[0].last_run_timestamp}'","type":"Expression"},"datasetSettings":{"annotations":[],"type":"MySqlTable","schema":[],"typeProperties":{},"externalReferences":{"connection":"[parameters('localhost;project')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"Append","datasetSettings":{"annotations":[],"linkedService":{"name":"MyLakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26","artifactId":"[parameters('MyLakehouse')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":{"value":"@{item().table_name}","type":"Expression"}}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"UpdateTime","type":"Script","dependsOn":[{"activity":"IncremenatlDataIngestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"Warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"3uxsqjyljt5u3ourekgnqp67oe-pvkp2mtxszge3asqfufuui62ey.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('Warehouse')]","workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"UPDATE Control_Ingestion \nSET last_run_timestamp = '@{utcNow()}'\nWHERE table_name = '@{item().table_name}'","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}}]}},{"name":"Validation","type":"TridentNotebook","dependsOn":[{"activity":"CopyDBSchema","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"2311b52c-608a-4354-b99c-6f17343c2a8b","workspaceId":"32fd547d-9677-4d4c-8250-2d0b4a23da26","parameters":{"table_name":{"value":{"value":"@item().table_name","type":"Expression"},"type":"string"},"schematable_name":{"value":{"value":"@{trim(concat(item().table_name, '_schema'))}","type":"Expression"},"type":"string"}}}}]}}],"variables":{"item":{"type":"String"}},"lastModifiedByObjectId":"43554558-732a-4299-bc7f-3b3d7c98b5e9","lastPublishTime":"2025-07-04T05:26:15Z"},"dependsOn":[]}]}